data/
AIMemory/
libs/
data_preprocessing/__pycache__/
models/dnn/*.pth
models/dnn/*.csv
models/xgboost/*.pkl
models/xgboost/*.csv
models/cnn1d/*.pth
models/cnn1d/*.csv
models/cnn1d/*.png
models/transformer/*.pth
models/transformer/*.csv
models/transformer/*.png
Train/encoder_multiclass_23_classes.txt
Train/encoder_multiclass_23.pkl
Train/encoder_category_5.pkl
Train/encoder_category_5_classes.txt
Train/encoder_onehot.pkl
Train/KDDTrain_preprocessed_test.csv
Train/KDDTrain_preprocessed_train.csv
Train/KDDTrain_preprocessed_val.csv
Train/KDDTrain_preprocessed.csv
Train/preprocessing_metadata.pkl
Train/scaler_standard.pkl
Visualization/confusion_matrix_comparison.png
Visualization/confusion_matrix_comparison_external.png
web_app/__pycache__/
**/__pycache__/
*.pyc